.file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    span {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        padding: 1.5em;
        border: 0.2em solid #58b0b0;
        background-color: #58b0b0;
    }
}

.file-upload {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 0.2em solid #58b0b0;
    border-radius: 5px;
    margin-bottom: 2em;

    div {
        display: grid;
        grid-template-columns: 25% 70%;
        align-items: center;
        border: 0.2em solid #58b0b0;

        label {
            text-align: center;
            padding: 1.5em 0.5em;
            border-right: 0.4em solid #58b0b0;
            text-decoration: underline;
            font-weight: bold;
        }

        input {
            display: flex;
            margin: 0 0 0 1em;
        }

        select {
            display: flex;
            margin: 0 0 0 1em;
        }
    }

    .file-button {
        display: flex;
        justify-content: center;
        background-color: #58b0b0;

        button {
            background-color: rgba(29,70,85,255);
            border: none;
            border-radius: 5px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            width: 50%;

            .file-loader {
                background-color:transparent;
                padding: 0;
                margin: 0;
            }
        }

        button:hover {
            background-color: #a0cea2;

            .file-loader {
                background-color: #a0cea2;
            }
        }
    }
}

.file-list {
    display: flex;
    flex-direction: column;
    border: 0.2em solid #58b0b0;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 1em;

    .file {
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
        border: 0.2em solid #58b0b0;

        .file-info {
            display: flex;
            justify-content: space-around;
            background-color: transparent;
            text-decoration: none;
            font-weight: normal;
            padding: 1em;
            border: none;

            .file-type {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: transparent;
                text-decoration: none;
                font-weight: normal;
                border: none;

                span {
                    color: white;
                    padding: 0.2em;
                    font-weight: bold;
                    border: transparent;
                    text-decoration: none;
                    background-color: rgba(29,70,85,255);
                }
            }

            .file-name-date {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: transparent;

                span {
                    color: white;
                    padding: 0.2em;
                    font-weight: normal;
                    border: transparent;
                    text-decoration: none;
                    background-color: rgba(29,70,85,255);

                    a {
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            .file-attribution {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: transparent;

                span {
                    color: white;
                    padding: 0.2em;
                    font-weight: normal;
                    border: transparent;
                    text-decoration: none;
                    background-color: rgba(29,70,85,255);

                    a {
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .file-input-image {
            display: flex;
            justify-content: space-around;
            border: transparent;

            input {
                height: 2em;
                width: auto;
                justify-self: end;
                margin-right: 0.5em;
            }
        }
    }
}